---

---

<!-- bg-neutral-800/[.3] -->
<header class=" z-20 absolute w-full py-2 ">
   <a class="text-xl text-white flex justify-center items-center" href="#">
      <h2 class="text-xl text-white">angelcalderon.dev</h2>
      <img
         class="mx-1"
         width={25}
         height={28}
         src={"/favicon_.webp"}
         alt="icono de angel calderon"
      />
   </a>
</header>
