<!--  -->
<div class="">
  <!-- <div id="containerRain" class="z-[5] fixed">
    <canvas class="top-0 left-0 w-screen h-screen z-[5]" id="canvas"></canvas>
  </div> -->
  <img
    src="/cyberpunk.png"
    alt="cyberpunk image"
    class="object-cover object-center w-screen h-screen fixed top-0 left-0 z-0"
  />
</div>
<script>
 /*  import RaindropFX from "raindrop-fx";
  var canvas = document.getElementById("canvas") as HTMLCanvasElement;
  var rect = canvas.getBoundingClientRect();
  canvas.width = rect.width;
  canvas.height = rect.height;
  var raindropFx = new RaindropFX({
    canvas: canvas,
    background: "/avila.jpg",
  });

  // Maneja los clics en cada botón.


      raindropFx.options.spawnLimit = 200;
      raindropFx.start(); */
   
</script>
