---


const {  className } = Astro.props;
---
<div
class:list={[
  "min-h-screen grid items-center main-section sm:flex max-w-screen-xl px-8  mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:px-16 lg:grid-cols-12",
  className 
]}
  >
  <slot />
</div>

<!--

 -->