---
const { className } = Astro.props;
---

<div
  class:list={[
    " min-h-screen   gap-2 grid items-center main-section md:flex max-w-screen-2xl px-8  mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:px-16 ",
    className,
  ]}
>
  <slot />
</div>
