---
const { className } = Astro.props;
---

<div
  class:list={[
    "min-h-[85vh] gap-2 grid items-center main-section sm:flex max-w-screen-xl px-8  mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:px-16 ",
    className,
  ]}
>
  <slot />
</div>
