---
import Section from "../../share/Section.astro";
import { Image } from "astro:assets";

const { projectProp } = Astro.props;
---

<Section className={"p-[0!important] h-screen "}>
    <div class="z-20 absolute flex flex-col justify-center items-center p-8">
      <div class="backdrop-blur-sm bg-black/30 w-fit rounded-md mb-4">
        <h1 class={"text-4xl md:text-6xl font-bold text-center"}>
          {projectProp.name}
        </h1>
      </div>

      <div class="backdrop-blur-sm bg-black/30 rounded-md">
        <p class={"text-center"}>
          {projectProp.desc}
        </p>
      </div>
    </div>

    <Image
      class={"h-screen object-contain w-screen object-top sticky z-10 s"}
      src={"/projects/" + projectProp.name + "/" + projectProp.images[0]}
      height={500}
      width={500}
      alt={projectProp.name}
    />
  </Section>
