---
---
<div>
    <div class="md:place-self-center lg:col-span-7 px-8 lg:px-16 py-4">
        <div class="flex justify-center items-center">
            <p class="text-lg md:text-lg lg:text-xl">
                Contáctame
            </p>
        </div>
    </div>
</div>