---
import { Image } from "astro:assets";
---

<div>
    <div class="md:place-self-center lg:col-span-7 px-8 lg:px-16 py-4">
        <div class="flex justify-center items-center">
            <a href="https://www.linkedin.com/in/angeld2/" target="_blank">
                <Image
                    height={40}
                    width={40}
                    loading="lazy"
                    class="w-8 h-8"
                    src="https://img.icons8.com/?size=100&id=13930&format=png&color=000000"
                    alt="Linkedin"
                />
            </a>
            <a href="https://github.com/Doble-2" target="_blank">
                <Image
                    height={40}
                    width={40}
                    loading="lazy"
                    class="w-8 h-8 ml-2"
                    src="https://img.icons8.com/?size=100&id=63777&format=png&color=000000"
                    alt="Github"
                />
            </a>
            <a
                href="https://wa.me/584241922881?text=Hola%20acabo%20de%20ver%20tu%20portfolio%20y%20me%20encantar%C3%ADa%20ponerme%20en%20contacto%20contigo
            "
                target="_blank"
            >
                <Image
                    height={40}
                    width={40}
                    loading="lazy"
                    class="w-8 h-8 ml-2"
                    src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000"
                    alt="Whatsapp"
                />
            </a>
            <a
                href="https://x.com/Doble2_?t=UQAHOXx_gSOoTZp9THuJ4g&s=09"
                target="_blank"
            >
                <Image
                    height={40}
                    width={40}
                    loading="lazy"
                    class="w-8 h-8 ml-2"
                    src="https://img.icons8.com/?size=100&id=ClbD5JTFM7FA&format=png&color=000000"
                    alt="X"
                />
            </a>
        </div>
    </div>
</div>
