---
---

<!-- bg-neutral-800/[.3] -->
<header class="flex p-5 gap-5 mx-auto z-20 bg-black/[.3] fixed w-screen justify-center">
   <div class="flex w-full lg:w-auto justify-center">
      <a class="text-xl text-white flex w-32" href="#">
         <!--  <img
                    class="mx-2"
                    width={25}
                    height={28}
                    src={"/favicon_.webp"}
                    alt="icono de angel calderon"
                /> -->
         <h2 class="text-xl text-white">angelcalderon.dev</h2>
      </a>
   </div>
</header>
