---
import app from "../../firebase/client";
import { getFirestore, getDoc, doc } from "firebase/firestore";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/share/Section.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  return [
    { params: { id: "4aarFXK78isi8ZZnRMtd" } },
    { params: { id: "Cjixr4E8gBWNdfdyRbOI" } },
    { params: { id: "pBKFvSyVaCAedozCEKsE" } },
    { params: { id: "z8hlAP2vQnSTKVcX6H1v" } },
  ];
}
const { id } = Astro.params;
if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const docRef = doc(db, "projects", id);
var docSnap = await getDoc(docRef);
const project = docSnap.data();

if (!project) {
  return Astro.redirect("/404");
}
---

<Layout title="Ángel Calderón | Desarrollador Frontend">
  <Section className={"p-[0!important] h-screen "}>
    <div class="z-20 absolute flex flex-col justify-center items-center p-8">

      <div class="backdrop-blur-sm bg-black/30 w-fit rounded-md mb-4">
        <h1 class={"text-4xl md:text-6xl font-bold text-center"}>
          {project.name}
        </h1>
      </div>

      <div class="backdrop-blur-sm bg-black/30 rounded-md">
          <p class={"text-center"}>
            {project.desc}
          </p>
      </div>

    </div>

    <Image
      class={"h-full object-cover w-full object-center sticky z-10"}
      src={"/projects/" + project.name + "/" + project.images[0]}
      height={500}
      width={500}
      alt={project.name}
    />
  </Section>
  <Section className={"pt-8 md:h-screen  xl:h-[fit-content]"}>
    <p>
      {project.name}
    </p>
  </Section>
</Layout>
