---
import app from "../../firebase/client";
import { getFirestore, getDoc, doc } from "firebase/firestore";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/share/Section.astro";
import { Image } from "astro:assets";

const { id } = Astro.params;
if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const docRef = doc(db, "projects", id);
var docSnap = await getDoc(docRef);
const project = docSnap.data();

if (!project) {
  return Astro.redirect("/404");
}
---

<Layout title="Ángel Calderón | Desarrollador Frontend">
  <Section className={"pt-8 md:h-screen  xl:h-[fit-content]"}>
    <Image
    class={'w-full h-full object-contain'}
      src={"/projects/" + project.name+'/'+ project.images[0]}
      height={500}
      width={500}
      alt={project.name}
    />
  </Section>
  <Section className={"pt-8 md:h-screen  xl:h-[fit-content]"}>
    <p>
      {project.name}
    </p>
  </Section>
</Layout>
