---
import { Image } from "astro:assets";

const { className, href, title, image, color } = Astro.props;
---

<div class:list={[`col-span-2 bg-[${color}] bg-opacity-50 rounded-sm`, className]}>
    <a href={href} target="_blank" title={title}>
        <div class="h-16">

        </div>
    </a>
</div>
