---
import { Image } from "astro:assets";

const { className, href, title, image, color } = Astro.props;
---

<div
    class:list={[
        `col-span-2 rounded-xl max-h-[50vh] flex flex-col items-center bg-gradient-to-tl from-[#000000]/[.3]  to-[#000000]/[.3]`,
        className,
    ]}
>
    <Image
        height={40}
        width={40}
        loading="lazy"
        class="object-cover w-64"
        src={image}
        alt={title}
    />
    <div
        class="relative bottom-8 flex flex-col items-center justify-center w-full gap-2 font-bold"
    >
        {title}
        <a href={href} class="text-sm font-semibold">
            <button
                class="bg-blue-600 text-white py-3 px-4 rounded-full flex justify-center items-center w-44 min-h-8"
            >
                Ver más
            </button>
        </a>
    </div>
</div>
