---
import { Image } from "astro:assets";

const { className, href, title, image,color } = Astro.props;
---

<div
    class:list={[`row-span-2 bg-[${color}] bg-opacity-50 col-span-2 md:col-span-1 rounded-sm`, className]}
>
    <a href={href} target="_blank" title={title} class="rounded-sm">
        <div class="h-16">

        </div>
    </a>
</div>
