---
const { className, href, title, image } = Astro.props;
---

<div
    class:list={["row-span-2 bg-cyan-600 col-span-2 md:col-span-1", className]}
>
    <a href={href} target="_blank" title={title}>
        <img class="object-cover h-full w-full" src={image} alt="" />
    </a>
</div>
