---
import { Image } from "astro:assets";
---

<div class="lg:mr-20 place-self-center lg:col-span-7 pt-6 md:pt-0">
  <div class="">
    <h1
      class="max-w-2xl mb-4 tracking-tight leading-none text-2xl font-bold md:text-1xl xl:text-2xl"
    >
      Ángel Calderón
      <p class="text-3xl font-extrabold md:text-3xl xl:text-4xl">
        Desarrollador Frontend
      </p>
    </h1>
  </div>

  <p class="max-w-2xl lg:mb-8 text-lg md:text-lg lg:text-xl xl:text-2xl">
    Desarrollador con experiencia en la creación de sitios web y aplicaciones
    móviles. Especializado en desarrollo frontend con tecnologías como Flutter,
    Dart, React, Astro, Next.js y TypeScript. <span class="hidden md:block">Aunque mi especialidad es el
    frontend, también tengo conocimientos en tecnologías backend como PHP,
    Node.js y Python, y en herramientas no-code como WordPress y Flutter Flow.</span>
    Tengo 22 años y actualmente resido en Caracas, Venezuela.
  </p>
  <div class="flex items-center justify-center md:justify-start mt-10 md:mt-6">
    <a href="/profile.png" download class="font-semibold text-white">
      <button
        class="bg-blue-600 text-white py-3 px-4 rounded-full flex justify-center items-center min-h-12 lg:text-xl"
      >
        Descargar curriculum
      </button>
    </a>

    <!-- <a href="/profile.png" download class="text-sm font-semibold">

    <button
      class="hidden sm:flex text-blue-600 hover:text-white hover:bg-blue-600 hover:text-white border-blue-600 border-2 text-blue-600 py-3 px-4 rounded-full flex justify-center items-center ml-4 w-44 min-h-14"
    >
        Contactame
    </button>
  </a> -->
  </div>
</div>
<div class="sm:mt-0 lg:col-span-5 flex justify-center mt-2 bg-opacity-20 bg-black rounded-3xl">
  <Image
    class="rounded-t-lg ProfileImage z-4 drop-shadow-xl"
    width={400}
    height={400}
    loading="eager"
    src={"/profile2.png"}
    alt="foto de angel calderon"
  />
</div>
