---
import NavBar from "../components/share/NavBar.astro";
import Rainy from "../components/share/Rainy.astro";
import { Image } from "astro:assets";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Soy Desarrollador web/mobile y eterno autodidacta viviendo en Caracas Venezuela | este es mi portfolio, descubre mis proyectos y ponte en contacto conmigo"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon_.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="max-w-screen">
		<Rainy />

		<main class="">
			<div class="z-10 relative main-section text-white bg-black/[.3]">
				<NavBar />
				<slot />
			</div>

			<!-- <div class="fixed bottom-4 right-4 z-30">
				<button
					id="rain-btn"
					class="bg-blue-500 hover:bg-blue-600 rounded-full shadow-lg inline-flex items-center justify-center focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none h-10 w-10"
					type="button"
					id="radix-:r2:"
					aria-haspopup="menu"
					aria-expanded="true"
					data-state="open"
					aria-controls="radix-:r3:"
				>
					<Image
						width="50"
						height="50"
						loading="lazy"
						class="w-8 h-8"
						src="https://img.icons8.com/ios/50/ffffff/blur.png"
						alt="blur"
					/>

					<path d="M5 12h14"></path>
					<path d="M12 5v14"></path>
				</button>
			</div> -->
		</main>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		margin: 0;
	}
</style>
